/* CONTENEDOR */
.inventory-container{
  background:#f4f6fb;
  min-height:100vh;
  font-family:Arial, Helvetica, sans-serif;
  padding:20px 40px;
}

/* BUSQUEDA */
.caja-busqueda input{
  padding:6px 10px;
  border-radius:6px;
  border:1px solid #ddd;
  background:#f8f9fb;
  font-size:13px;
}

/* TARJETAS */
.tarjeta-blanca{
  background:white;
  margin-bottom:20px;
  padding:20px;
  border-radius:10px;
  box-shadow:0 5px 12px rgba(0,0,0,0.07);
}

.titulo-gris{
  font-size:13px;
  color:#777;
  margin-bottom:15px;
  font-weight:bold;
}

/* FORMULARIO */
.grid-formulario{
  display:flex;
  gap:20px;
  flex-wrap:wrap;
  align-items: flex-end;
}

.campo{
  display:flex;
  flex-direction:column;
}

.campo.grande input{
  width:260px;
}

.campo label{
  font-size:12px;
  margin-bottom:4px;
}

.campo input{
  padding:6px;
  border-radius:6px;
  border:1px solid #ddd;
  background:#f8f9fb;
  width:160px;
  font-size:13px;
}
.campo input,
.campo select {
  padding:6px;
  border-radius:6px;
  border:1px solid #ddd;
  background:#f8f9fb;
  width:160px;
  font-size:13px;
}

/* TABLA */
.tabla-scroll{
  overflow-x:auto;
}

table{
  width:100%;
  border-collapse:collapse;
}

thead{
  background:#4f54d3;
  color:white;
}

thead th{
  padding:10px;
}

tbody td{
  padding:10px;
  border-bottom:1px solid #eee;
  text-align:center;
}

tbody tr:hover{
  background:#f2f2f2;
}

/* ESTADO */
.etiqueta-estado{
  padding:4px 10px;
  border-radius:10px;
  font-size:12px;
}

/* COLORES POR ESTADO */
.etiqueta-estado[data-status="Disponible"]{
  background:#dff5ec;
  color:#1e9b6c;
}

.etiqueta-estado[data-status="Bajo"]{
  background:#fff3cd;
  color:#856404;
}

.etiqueta-estado[data-status="Agotado"]{
  background:#ffe3e3;
  color:#d9534f;
}

/* BOTONES */
.botones-abajo{
  padding:20px 0;
  display:flex;
  gap:15px;
  flex-wrap:wrap;
}

.btn{
  padding:10px 18px;
  border:none;
  border-radius:6px;
  cursor:pointer;
}

/* COLORES */
.btn-mod{
  background:#4f54d3;
  color:white;
}

.btn-del{
  background:#ff6b6b;
  color:white;
}

.btn-reg{
  background:#33e299;
  color:white;
}

.btn-clear{
  background:#ebe6e2;
  color:#444;
}

.btn-exit{
  background:#fcfafa;
  color:#111;
  border:1px solid #ddd;
}

button:hover{
  opacity:0.9;
}

/* RESPONSIVE PARA QUE SE VEA BIEN EN DISPOSITIVOS MÓVILES */
@media(max-width:768px){

  .grid-formulario{
    flex-direction:column;
  }

}